<!DOCTYPE HTML>
<html>
	<head>
		<title>done by Done</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="css/main.css" />
		<noscript><link rel="stylesheet" href="css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<div id="wrapper">
			<div id="bg"></div>
			<div id="overlay"></div>
			<div id="main">

				<!-- Header -->
					<header id="header">
						<h1>done by Done</h1>
						<p>Paul Done responded &nbsp;&bull;&nbsp; You Earned This &nbsp;&bull;&nbsp; Serverless</p>
						<nav>
							<ul>
								<li><a href="https://twitter.com/paulmdone" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="https://www.facebook.com/paulmdone" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
								<li><a href="https://dribbble.com/pauldone/about" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
								<li><a href="https://github.com/pauldone/donebyDone.git" class="icon brands fa-github"><span class="label">Github</span></a></li>
								<li><a href="mailto:admin@pauldone.com" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
							</ul>
						</nav>
					</header>

				<!-- Footer -->
					<footer id="footer">
						<span class="copyright">&copy; Another Pomo Gaza Design: <a href="http://pauldone.com">pauldone.com</a>.</span>
					</footer>

			</div>
		</div>
		<script>
			window.onload = function() { document.body.classList.remove('is-preload'); }
			window.ontouchmove = function() { return false; }
			window.onorientationchange = function() { document.body.scrollTop = 0; }
		</script>
	</body>
</html>